/* Estilização padrão da pagina*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*Estlização do HEADER da pagina*/
header{
    background-color: rgb(62, 184, 255);
    padding: 20px 0 40px 0;
}
.logo{
    width: 5%;
    margin-left: 5%;
}
nav{
    color: rgb(255, 255, 255);
    top: 10%;
    right: 2%;
    position: absolute;
    font-size: 150%;
    font-family: fantasy;
}
nav li{
    display: inline;
    margin-right: 40px;
}
.divHeader{
    position: relative;
}
/* Estilização de sobre nos*/
.sobre_nos{
    width: 70%;
    margin-left: 15%;
}
.img_sobre_nos{
    width: 15%;
    float: left;

}
.titulo_sobre_nos{
    clear: left;
    text-align: center;
}
    
.mapa{
    text-align: center;
    background: linear-gradient(#ffffff, #59a6ff);
}

/*Estilização da sessão NOSSOS PRODUTOS*/
.nossosprodutos{
    padding: 2%;
    background: linear-gradient(#59a6ff, #ffffff)
}
.div_nossosprodutos{
    width: 70%;
    margin-left: 30%;
}
.lista_nossosprodutos{
    width: 30%;
    display: inline-block;
    vertical-align: "top";
    list-style: none;
}
.lista_nossosprodutos li{
    line-height: 2;
}
.lista_nossosprodutos li:before{
    content: "★ ";
}
.img_nossosprodutos{
    width: 15%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px #000000;
    opacity: 1;
    transition: 400ms;
}
.img_nossosprodutos:hover{
    opacity: 0.5;
    cursor: pointer;
}
/*VIDEO*/
.video{
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255), rgb(101, 178, 255));
    padding-bottom: 30px;
}
/*FOOTER*/
footer{
    padding: 30px 10px 10px 0;
    background-size: cover;
    background-position: center;
    background-color:rgba(62, 184, 255);
    background-blend-mode: darken;
}

footer p{
    color: white;
    text-align: right;
    font-size: 20px;
}

footer a{
    color: white;
    text-decoration: none;
}

.logo_footer{
    width: 10%;
    padding-left: 85%;
}
